<nav>
  <ul id="nav-ul">
    <li class="nav-li-start">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="nav-li">@Html.ActionLink("Engineers", "Index", "Engineers")</li>
    <li class="nav-li">@Html.ActionLink("Machines", "Index", "Machines")</li>
  </ul>
</nav>
